<div class="bookend">
  <div class="form">
    <div class="title"><span style="color: #52b788">Book</span> Boolean</div>
    <div class="subtitle">
      You can't be a <span style="color: #52b788">backend</span>, but you can be
      a good <span style="color: #52b788"> Bookend</span>
    </div>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="input-container ic1">
        <input
          id="firstname"
          class="input"
          type="text"
          placeholder="Book name "
          [(ngModel)]="BookName"
          name="bookname"
          ngModel
          required
          #book_name="ngModel"
        />
        <div class="cut"></div>

        <div class="alert alert-danger" *ngIf="!book_name.valid && submit">
          Book name required!
        </div>
      </div>
      <div class="input-container ic2">
        <input
          id="lastname"
          class="input"
          type="text"
          placeholder="Author "
          [(ngModel)]="Author"
          name="author"
          ngModel
          required
          #author="ngModel"
        />
        <div class="cut"></div>

        <div class="alert alert-danger" *ngIf="!author.valid && submit">
          Author name required!
        </div>
      </div>
      <div class="input-container ic2">
        <input
          id="lastname"
          class="input"
          type="number"
          placeholder="Page count"
          [(ngModel)]="Pagecount"
          name="pagecount"
          ngModel
          required
          #pagecount="ngModel"
          min="80"
        />
        <div class="cut"></div>

        <div class="alert alert-danger" *ngIf="!pagecount.valid && submit">
          page count at least 80!
        </div>
      </div>
      <div class="input-container ic2">
        <input
          id="email"
          class="input"
          type="number"
          placeholder=" Price"
          [(ngModel)]="Price"
          name="price"
          ngModel
          required
          #price="ngModel"
          min="5"
          max="50"
        />
        <div class="cut cut-short"></div>
        <div class="alert alert-danger" *ngIf="!price.valid && submit">
          price should be min 5 max 50!
        </div>
      </div>
      <div class="input-container ic2">
        <input
          id="email"
          class="input"
          type="text"
          placeholder="Title "
          [(ngModel)]="Title"
          name="title"
          ngModel
          required
          #title="ngModel"
        />
        <div class="cut cut-short"></div>
      </div>
      <button
        type="submit"
        class="submit"
        (click)="addnewbook()"
        [disabled]="!form.valid"
      >
        Order
      </button>
    </form>
  </div>
</div>
